<div class="footer-top">
	<div class="container">
		<div class="row d-sm-flex">
			<div class="col-sm-4 d-sm-flex flex-sm-column justify-content-sm-center">
				<div class="footer-info">
					<h3>MarryMix</h3>
					<p>
						Rue Charlie Chaplin<br>
						91000 EVRY-COURCOURONNES<br>
						+33 6 24 16 60 60<br>
						info@marrymix.fr<br>
					</p>
				</div>
			</div>
			<div class="col-sm-4 my-3 my-sm-0 d-sm-flex justify-content-sm-center">
				<div class="social-links d-sm-flex flex-column justify-between">
					<h4 class="text-center">Social Links</h4>
					<div class="flex flex-row">
						<a href="#" class="twitter">
							<i class="bi bi-twitter"></i>
						</a>
						<a href="#" class="facebook">
							<i class="bi bi-facebook"></i>
						</a>
						<a href="#" class="instagram">
							<i class="bi bi-instagram"></i>
						</a>
					</div>
					<div></div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="footer-links d-sm-flex flex-sm-column align-items-sm-end">
					<h4 class="text-center">Useful Links</h4>
					<ul>
						<li>
							<i class="bi bi-chevron-compact-right"></i>
							<a href="{{path('index')}}">Home</a>
						</li>
						<li>
							<i class="bi bi-chevron-compact-right"></i>
							<a href="{{path('about-us')}}">About us</a>
						</li>
						<li>
							<i class="bi bi-chevron-compact-right"></i>
							<a href="{{asset('uploads/pdf_invoices/cgv.pdf')}}" target="_blank">Terms of service</a>
						</li>
						<li>
							<i class="bi bi-chevron-compact-right"></i>
							<a href="{{asset('uploads/pdf_invoices/pdc.pdf')}}" target="_blank">Privacy policy</a>
						</li>
						<li>
							<i class="bi bi-chevron-compact-right"></i>
							<a href="{{path('credits')}}">Credits</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="copyright">
		&copy; Copyright
		<strong>
			<span>MarryMix</span>
		</strong>. All Rights Reserved
	</div>
</div>
