{% extends 'baseAdmin.html.twig' %}

{% block body %}
	<div class="flex justify-center m-5">
		<div class="flex flex-col min-w-full min-h-full rounded-lg bg-third text-center shadow-lg">
			<div class="card-header border-b border-primary-800">
				<div class="card-title text-primary-800 font-medium py-3 px-6">
					Bundles Management
				</div>
			</div>
			<div class="card-body p-3">
				<div class="flex flex-col table-responsive overflow-x-auto lg-rounded">
					<div class="sm:-mx-1 lg:-mx-2">
						<div class="inline-block min-w-full py-2 sm:px-3 lg:px-4">
							<div class="overflow-x-auto">
								<table class="min-w-full text-left text-sm font-light">
									<thead class="border-b text-primary-700 text-center">
										<tr>
											<th scope="col" class="px-3 py-2 font-medium">ID</th>
											<th scope="col" class="px-3 py-2">Name</th>
											<th scope="col" class="px-3 py-2">Carousel</th>
											<th scope="col" class="px-3 py-2">Description</th>
											<th scope="col" class="px-3 py-2">Products</th>
											<th scope="col" class="px-3 py-2">Price</th>
											<th scope="col" class="px-3 py-2">Created At</th>
											<th scope="col" class="px-3 py-2">Updated At</th>
											<th scope="col" class="px-3 py-2">Actions</th>
										</tr>
									</thead>
									<tbody class="text-secondary-200 text-center">
										{% for bundle in bundles %}
											<tr class="border-b">
												<td class="whitespace-nowrap px-3 py-2 font-medium">{{ bundle.id }}</td>
												<td class="whitespace-nowrap px-3 py-2">{{ bundle.name }}</td>
												<td class="whitespace-nowrap mt-1 px-3 py-2 inline-flex">
													{% for img in bundle.carousel %}
														<img src="{{ asset("uploads/images_bundles/" ~ img) }}" alt="{{ img }}" class="img-thumbnail" style="max-width: 50px; max-height: 50px;">
													{% endfor %}
												</td>
												<td class="whitespace-nowrap px-3 py-2">{{ bundle.description }}</td>
												<td class="whitespace-nowrap px-3 py-2">
													{% for product in bundle.products %}
														{{ product.name }}
														{% if not loop.last %}
															,
														{% endif %}
													{% endfor %}
												</td>
												<td class="whitespace-nowrap px-3 py-2">{{ bundle.price }}</td>
												<td class="whitespace-nowrap px-3 py-2">{{ bundle.createdAt|date('Y-m-d H:i:s') }}</td>
												<td class="whitespace-nowrap px-3 py-2">
													{% if bundle.updatedAt %}
														{{ bundle.updatedAt|date('Y-m-d H:i:s') }}
													{% endif %}
												</td>
												<td class="whitespace-nowrap px-3 py-2">
													<a href="{{ path('app_admin_bundle_edit', {'id': bundle.id}) }}" class="btn btn-secondary btn-sm m-1">
														Edit
													</a>
													<a href="{{ path('app_admin_bundle_delete', {'id': bundle.id}) }}" class="btn btn-secondary btn-sm m-1" onclick="return confirm('Are you sure?')">
														Delete
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer border-t border-primary-800 py-2 px-4">
				<a id="createBtnModal" href="{{ path('app_admin_bundle_create') }}" class="btn btn-primary">
					Create
				</a>
			</div>
		</div>
	</div>
{% endblock %}
