{% extends 'baseAdmin.html.twig' %}

{% block body %}
	<div class="row p-2 p-sm-5">
		<div class="col-md-12">
			<div class="card text-bg-info">
				<div class="card-header">
					<h4 class="card-title text-primary">Bundles Management</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table text-light">
							<thead class="text-primary text-uppercase">
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Carousel</th>
									<th>Description</th>
									<th>Products</th>
									<th>Price</th>
									<th>Created At</th>
									<th>Updated At</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for bundle in bundles %}
									<tr>
										<td>{{ bundle.id }}</td>
										<td>{{ bundle.name }}</td>
										<td>
											{% for img in bundle.carousel %}
												<img src="{{ asset("uploads/images_bundles/" ~ img) }}" alt="{{ img }}" class="img-thumbnail" style="max-width: 50px; max-height: 50px;">
											{% endfor %}
										</td>
										<td>{{ bundle.description }}</td>
										<td>
											{% for product in bundle.products %}
												{{ product.name }}
												{% if not loop.last %}
													,
												{% endif %}
											{% endfor %}
										</td>
										<td>{{ bundle.price }}</td>
										<td>{{ bundle.createdAt|date('Y-m-d H:i:s') }}</td>
										<td>
											{% if bundle.updatedAt %}
												{{ bundle.updatedAt|date('Y-m-d H:i:s') }}
											{% endif %}
										</td>
										<td>
											<div class="btn-group" role="group">
												<a href="{{ path('app_admin_bundle_edit', {'id': bundle.id}) }}" class="btn btn-sm btn-warning m-1" data-toggle="modal" data-target="#bundleModal">
													Edit
												</a>
												<a href="{{ path('app_admin_bundle_delete', {'id': bundle.id}) }}" class="btn btn-sm btn-danger m-1" onclick="return confirm('Are you sure?')">
													Delete
												</a>
											</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer text-center">
					<a id="createBtnModal" href="{{ path('app_admin_bundle_create') }}" class="btn btn-secondary" data-toggle="modal" data-target="#bundleModal">
						Create
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
