{% extends 'baseAdmin.html.twig' %}

{% block title %}
	Admin - Tag N°
	{{tagForm.vars.data.id}}
{% endblock %}

{% block body %}
	<div class="flex justify-center m-5">
		<div class="flex flex-col min-w-full min-h-full rounded-lg bg-third text-center shadow-lg">
			<div class="card-header border-b border-primary-800">
				<div class="card-title text-primary-800 font-medium py-3 px-6">
					Tag N°
					{{tagForm.vars.data.id}}
				</div>
			</div>
			<div class="card-body text-white p-3 flex flex-wrap justify-center">
				{{ form_start(tagForm) }}
				<div class="flex flex-column flex-wrap justify-around items-center">
					{{ form_widget(tagForm.name, {'attr': { 'class': "form-input-tw mb-2", 'placeholder': "Name"}}) }}
					{{ form_widget(tagForm.type, {'attr': { 'class': "form-input-tw mb-2 w-full h-full font-poiretone text-primary"}}) }}
				</div>
			</div>
			<div class="card-footer border-t border-primary-800 py-2 px-4">
				<button type="submit" class="btn-tw btn-primary-tw">{{ edit ? 'Update' : 'Create' }}</button>
				{{ form_end(tagForm) }}
			</div>
		</div>
	</div>
{% endblock %}
