{% extends 'baseAdmin.html.twig' %}

{% block title %}
	Admin - Product N°
	{{productForm.vars.data.id}}
{% endblock %}

{% block body %}
	<div class="flex justify-center m-5">
		<div class="flex flex-col min-w-full min-h-full rounded-lg bg-third text-center shadow-lg">
			<div class="card-header border-b border-primary-800">
				<div class="card-title text-primary-800 font-medium py-3 px-6">
					Product N°
					{{productForm.vars.data.id}}
				</div>
			</div>
			<div class="card-body text-white p-3 flex flex-wrap justify-center">
				{{ form_start(productForm) }}
				<div class="flex flex-column flex-wrap justify-around items-center">
					{{ form_widget(productForm.name, {'attr': { 'class': "form-input-tw mb-2", 'placeholder': "Name"}}) }}
					{% for i in 0..4 %}
						<div class="flex flex-row items-center m-2">
							{{ form_widget(productForm['image' ~ i], {'attr': { 'class': "form-input-tw mb-2"}}) }}
							{% if edit and productForm.vars.value.carousel[i] is defined and productForm.vars.value.carousel[i] is not empty %}
								<img src="{{ asset('uploads/images_products/' ~ productForm.vars.value.carousel[i]) }}" alt="{{ productForm.vars.value.carousel[i] }}" class="img-thumbnail mx-2" style="max-width: 50px; max-height: 50px;">
							{% endif %}
						</div>
					{% endfor %}
					{{ form_widget(productForm.description, {'attr': { 'rows': "15", 'cols': "100", 'class': "form-input-tw mb-2 w-full h-full", 'placeholder': "Description"}}) }}
					{{ form_widget(productForm.price, {'attr': { 'class': "form-input-tw mb-2", 'placeholder': "Price"}}) }}
					{{ form_widget(productForm.quantity, {'attr': { 'class': "form-input-tw mb-2", 'placeholder': "Quantity"}}) }}
					{{ form_widget(productForm.category, {'attr': { 'class': "form-input-tw mb-2"}}) }}
				</div>
			</div>
			<div class="card-footer border-t border-primary-800 py-2 px-4">
				<button type="submit" class="btn-tw btn-primary-tw">{{ edit ? 'Update' : 'Create' }}</button>
				{{ form_end(productForm) }}
			</div>
		</div>
	</div>
{% endblock %}
