<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		<!-- Favicons -->
		<link
		href="{{asset("images/logo/marrymix-icon.ico")}}" rel="icon"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body id="body" class="bg-secondary-900 font-poppins">
		{% block flash %}
			{{include('admin/_partials/flashAdmin.html.twig')}}
		{% endblock %}
		<header>
			{% block header %}
				{{include('admin/_partials/headerAdmin.html.twig')}}
			{% endblock %}
			{% block navbar %}
				{{include('admin/_partials/navbarAdmin.html.twig')}}
			{% endblock %}
		</header>
		<main class="content"> {% block body %}{% endblock %}
			</main>
			<footer>
				{% block footer %}{% endblock %}
			</footer>
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
		</body>
	</html>
