{% extends 'baseAdmin.html.twig' %}

{% block body %}
	<div class="row p-2 p-sm-5">
		<div class="col-md-12">
			<div class="card text-bg-info">
				<div class="card-header">
					<h4 class="card-title text-primary">Comment Management</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table text-light">
							<thead class="text-primary text-uppercase">
								<tr>
									<th>ID</th>
									<th>User</th>
									<th>Bundle</th>
									<th>Note</th>
									<th>Content</th>
									<th>CreatedAt</th>
									<th>UpdatedAt</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for comment in comments %}
									<tr>
										<td>{{ comment.id }}</td>
										<td>{{ comment.user }}</td>
										<td>{{ comment.bundle }}</td>
										<td>{{ comment.note }}</td>
										<td>{{ comment.createdAt|date('Y-m-d H:i:s') }}</td>
										<td>
											{% if comment.updatedAt %}
												{{ comment.updatedAt|date('Y-m-d H:i:s') }}
											{% endif %}
										</td>
										<td>
											<div class="btn-group" role="group">
												<a href="{{ path('app_admin_comment_delete', {'id': comment.id}) }}" class="btn btn-sm btn-danger m-1" onclick="return confirm('Are you sure?')">
													Delete
												</a>
											</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
